ENV=local
SECRET_KEY=change-me
TIMEZONE=Asia/Seoul

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Password123@!
DB_NAME=ai_health
DB_ROOT_PASSWORD=Password123@!
DB_EXPOSE_PORT=3306

DOCKER_USER=local
DOCKER_REPOSITORY=ai01
APP_VERSION=dev
AI_WORKER_VERSION=dev
